
__pycache__/
*.py[cod]
*.pyo
*.pyd
autosight_env/
venv/
env/
*.log
autosight.log
target/
dbt_packages/

.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.user
*.ncb
*.swp
*.sln

.env

*.png
*.pbix
*.xlsx
*.csv
.ipynb_checkpoints/